

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  /* width: 140vw; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  
  box-sizing: border-box;
  padding: 0;
  margin: 0 10% 0 10%;
}